*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #c4c4c4;
}
.main__header {
  font-size: 3rem;
  background: #eaeaea;
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}
.main__form {
  font-size: 2rem;
  background: #eaeaea;
  margin-top: 2rem;
}
p {
  display: inline-block;
}
.main__form__div {
  display: flex;
  justify-content: space-evenly;
}
.main__form__btnDiv {
  display: flex;
  justify-content: space-between;
}
